In [1]:
# imports
import pandas as pd
import statsmodels.api as sm
import matplotlib.pyplot as plt
%matplotlib inline

/Users/roman2006/anaconda/lib/python3.6/site-packages/statsmodels/compat/pandas.py:56: FutureWarning: The pandas.core.datetools module is deprecated and will be removed in a future version. Please use the pandas.tseries module instead.
  from pandas.core import datetools

In [2]:
df = pd.read_csv('/Users/roman2006/PycharmProjects/BTS /Teachers GitHubs/Liana Clone/Session_2/2_titanic_dataset.csv', index_col=0)
df.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [10]:
df1=df.dropna()

In [11]:
df1.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S

In [12]:
X = df1[["Age", "Fare"]]
y = df1["Survived"]

In [13]:
X = sm.add_constant(X) 
X.head()

             const   Age     Fare
PassengerId
2              1.0  38.0  71.2833
4              1.0  35.0  53.1000
7              1.0  54.0  51.8625
11             1.0   4.0  16.7000
12             1.0  58.0  26.5500

In [15]:
model = sm.OLS(y, X).fit()
predictions = model.predict(X) 
predictions

PassengerId
2      0.649977
4      0.659458
7      0.519245
11     0.861764
12     0.472472
22     0.639173
24     0.698679
28     0.921385
53     0.573046
55     0.445531
63     0.607031
67     0.674125
76     0.701501
89     0.892046
93     0.584337
97     0.382702
98     0.754540
103    0.778804
111    0.570683
119    0.874050
124    0.650175
125    0.536757
137    0.758343
138    0.644788
140    0.758117
149    0.629790
152    0.764108
171    0.455254
175    0.489997
178    0.532639
         ...
738    0.975757
742    0.669859
743    0.906285
746    0.415070
749    0.776814
752    0.844184
760    0.697132
764    0.698201
766    0.559223
773    0.468752
780    0.709768
782    0.794169
783    0.687556
790    0.596752
797    0.538057
803    0.881570
807    0.593545
810    0.674127
821    0.562593
824    0.690155
836    0.650822
854    0.789382
858    0.523815
863    0.545392
868    0.687003
872    0.571065
873    0.640998
880    0.526131
888    0.760903
890    0.709560
Length: 183, dtype: float64

In [16]:
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:               Survived   R-squared:                       0.077
Model:                            OLS   Adj. R-squared:                  0.067
Method:                 Least Squares   F-statistic:                     7.501
Date:                Fri, 10 Nov 2017   Prob (F-statistic):           0.000743
Time:                        20:23:20   Log-Likelihood:                -113.95
No. Observations:                 183   AIC:                             233.9
Df Residuals:                     180   BIC:                             243.5
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          0.8796      0.094      9.374      0.000       0.694       1.065
Age           -0.0073      0.002     -3.389      0.001      -0.012      -0.003
Fare           0.0007      0.000      1.553      0.122      -0.000       0.002
==============================================================================
Omnibus:                       98.856   Durbin-Watson:                   2.030
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               24.636
Skew:                          -0.664   Prob(JB):                     4.47e-06
Kurtosis:                       1.789   Cond. No.                         314.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""